
/* Default styles for IntroSection */


.HTWContainer {
    
    margin: 24px;
    background-color: #1F2D79;
    border-radius: 15px;
    box-sizing: border-box;
    padding: auto;
  }



  
  /* Media query for mobile devices (max-width: 768px) */
  @media (max-width: 768px) {
    .HTWContainer {
      height: 160vh; /* Set height to 200% of the viewport height for mobile mode */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;    
    }
  }
  
  /* Media query for desktop devices (min-width: 769px) */
  @media (min-width: 769px) {
    .HTWContainer {
      width: 100%; /* Set width to 100% of the viewport width for desktop mode */
      height: 80vh; /* Set height to 100% of the viewport height for desktop mode */
      display: grid;
      
      grid-template-columns: 1fr 1fr;
    }
    
  
    
      
    
      .HTWTextContainer{
        
        margin: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        color: aliceblue;
        padding: 24px;
    }
    .HTWTextContainer h1{
        font-size: 3rem;
        margin: 0px;
    
    }
    
    
    
   
      

    .HTWContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .HTWTitle{
      font-size: 1.5rem;
      font-family: 'HelveticaBold';
    }

    .HTWSubTitle{
      font-size: 1rem;
      font-family: 'HelveticaBold';
      
    }

    .HTWImageContainer{
      position: relative;
    }

    .HTWimageClass{
      position: absolute;
      bottom: -50px;
      right: 10%;
      width: 30vw;
      object-fit: fill;
    }
    .HTWimageClass2{
      position: absolute;
      bottom: 50%;
      right: 50%;
      width: 80px;
      object-fit: fill;
      z-index: 5;
    }

  }

 