


/* Default styles for IntroSection */


.HTIContainer {
    
    margin: 24px;
    background-color: #1F2D79;
    border-radius: 15px;
    box-sizing: border-box;
    padding: auto;
  }



  
  /* Media query for mobile devices (max-width: 768px) */
  @media (max-width: 768px) {
    .HTIContainer {
      height: 160vh; /* Set height to 200% of the viewport height for mobile mode */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;    
    }
  }
  
  /* Media query for desktop devices (min-width: 769px) */
  @media (min-width: 769px) {
    .HTIContainer {
      width: 100%; /* Set width to 100% of the viewport width for desktop mode */
      height: 100vh; /* Set height to 100% of the viewport height for desktop mode */
      display: grid;
      
      grid-template-columns: 0.5fr 1fr;
    }
    
  
    
      
    
      .HTITextContainer{
        
        margin: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        color: aliceblue;
        padding: 24px;
    }
    .HTITextContainer h1{
        font-size: 3rem;
        margin: 0px;
    
    }
    .HTITextContainer h4{
        
        padding: 8px;
        margin: 8px;
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    .HTITextContainer p{
        padding: 8px;
    
        margin: 0;
    }
    
   
      

    .HTITitleOFIntro{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .HTIListTiles{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 8px;
    }

    .HTIListTilesText{
        margin: 0;
        padding-left: 8px;

    }

  }

 