/* Default styles for IntroSection */


.IntroSectionContainer {
    margin: 24px;
    background-color: #1F2D79;
    border-radius: 15px;
    box-sizing: border-box;
    padding: auto;
    margin-top: 15vh;

  }



  
  /* Media query for mobile devices (max-width: 768px) */
  @media (max-width: 768px) {
    .IntroSectionContainer {
      height: 160vh;
      width: 100svw; /* Set height to 200% of the viewport height for mobile mode */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;    
    }

     
    .TextContainer{
      width: 70%;  
      margin: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  
      color: aliceblue;
      padding: 0px;
  }
  .TextContainer h1{
      font-size: 2rem;
      margin: 0px;
  
  }
  .TextContainer h4{
      
      padding: 8px;
      /* margin: 8px; */
      font-size: 1.2rem;
      font-weight: 300;
  }
  
  .TextContainer p{
      padding: 8px;
      margin: 0;
      
    }
  .TitleOFIntro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logoContainer{
    width: 30px;
    height: 30px;
    object-fit: fill;
    margin: 0;

}

.ButtomsContainers{
        
        
  display: flex;
  flex-wrap: wrap;
  
}

.DownloadAppBtn{
  min-width:150px ;
  background-color: rgb(210, 236, 242);
  color: #1F2D79;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-family: 'HelveticaBold';
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.DownloadAppBtn:hover{
  scale: 1.01;
  background-color: rgb(202, 244, 244);
  box-shadow: 3px 3px 10px 4px rgba(77, 214, 232, 0.281);
  color: black;
}

.btnImage{
  width: 20px;
  height: 20px;
  object-fit: fill;
  
}

.ImageContainer {
  display: flex;
  
  align-items: center;
  justify-items: center;
  
  position: relative;
}

.imageBall1 {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 50px;
  height: 50px;
  object-fit: fill;
   /* Position in the middle of the container */
  z-index: 15; /* Ensure it's above other images */
}

.imagePhone1 {
   /* Position Phone1 at the top */
   position: absolute;
   bottom: 100px;
   right: 50%;
   width: 50vw;
   
   object-fit: fill;
  z-index: 9; /* Behind Ball1 */
}

.imagePhone2 {
  position: absolute;
  bottom: 50px;
  right: 20%;
  width: 60vw;
  
  object-fit: fill;
   /* Position Phone2 below Phone1 */
  z-index: 5; /* Behind Ball1 */
}

.imageBall2 {
  position: absolute;
  top: 30%;
  right: 20%;
  width: 100px;
  height: 100px;
  object-fit: fill;
   /* Position Ball2 at the bottom */
  z-index: 0; /* Behind all other images */
}

.imagePlatform {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 10vh;
  object-fit: fill;
   /* Position Plat
   form image in between Ball1 and Ball2 */
  z-index: 2; /* Above Ball2, but behind Ball1 */
}

  }
  
  /* Media query for desktop devices (min-width: 769px) */
  @media (min-width: 769px) {
    .IntroSectionContainer {
       /* Set width to 100% of the viewport width for desktop mode */
      height: 80vh; /* Set height to 100% of the viewport height for desktop mode */
      display: grid;
      
      grid-template-columns: 1fr 1fr;
    }
    
  
    
    
      .TextContainer{
        
        margin: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        color: aliceblue;
        padding: 24px;
    }
    .TextContainer h1{
        font-size: 3rem;
        margin: 0px;
    
    }
    .TextContainer h4{
        
        padding: 8px;
        margin: 8px;
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    .TextContainer p{
        padding: 8px;
    
        margin: 0;
    }
    
    .ButtomsContainers{
        
        
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .DownloadAppBtn{
        min-width:150px ;
        background-color: rgb(210, 236, 242);
        color: #1F2D79;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 8px;
        padding-left: 8px;
        border-radius: 6px;
        font-size: 0.8rem;
        font-family: 'HelveticaBold';
        margin: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        cursor: pointer;
        transition: all ease-in 0.1s;
    }

    .DownloadAppBtn:hover{
        scale: 1.01;
        background-color: rgb(202, 244, 244);
        box-shadow: 3px 3px 10px 4px rgba(77, 214, 232, 0.281);
        color: black;
    }

    .btnImage{
        width: 20px;
        height: 20px;
        object-fit: fill;
        
    }

    .TitleOFIntro{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .logoContainer{
        width: 50px;
        height: 50px;
        object-fit: fill;
        margin: 0;

    }
    
    .ImageContainer {
      display: flex;
      
      align-items: center;
      justify-items: center;
      
      position: relative;
    }
    
    .imageBall1 {
      position: absolute;
      top: 50%;
      left: 20%;
      width: 80px;
      height: 80px;
      object-fit: fill;
       /* Position in the middle of the container */
      z-index: 15; /* Ensure it's above other images */
    }
    
    .imagePhone1 {
       /* Position Phone1 at the top */
       position: absolute;
       bottom: 160px;
       right: 50%;
       width: 18vw;
       
       object-fit: fill;
      z-index: 9; /* Behind Ball1 */
    }
    
    .imagePhone2 {
      position: absolute;
      bottom: 100px;
      right: 20%;
      width: 20vw;
      
      object-fit: fill;
       /* Position Phone2 below Phone1 */
      z-index: 5; /* Behind Ball1 */
    }
    
    .imageBall2 {
      position: absolute;
      top: 30%;
      right: 20%;
      width: 100px;
      height: 100px;
      object-fit: fill;
       /* Position Ball2 at the bottom */
      z-index: 0; /* Behind all other images */
    }
    
    .imagePlatform {
      position: absolute;
      bottom: 0;
      width: 80%;
      height: 15vh;
      object-fit: fill;
       /* Position Plat
       form image in between Ball1 and Ball2 */
      z-index: 2; /* Above Ball2, but behind Ball1 */
    }

  }


  
  


  .sliding-image {
    transition: transform 0.5s ease; /* Add a smooth transition effect */
  }
  
  .scrolled {
    transform: translateY(-20px); /* Adjust the value as needed to control the amount of sliding */
  }
  